@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    color: #B2B2B2;
}

html {
    background-color: #131313;
}

.brsmall {
    display: block;
    margin-bottom: -.2em;
}

.container {
    height: 100vh;
}

.content {
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ascii {
    font-size: 15px;
    white-space: pre;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0vw 2vw 0vw 2vw;
}

.about-me p {
    padding-left: 3vw;
    font-size: 17px
}

.about-me h3 {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

.bg-about-me {
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    background-color: #17181a;
}